@page "/sessions/detail/{id:guid}"
@using SessionManager.UI.Models;
@using SessionManager.UI.Services;
@inject ISessionManagerService SessionManagerService

<h3>SessionDetail</h3>

@if (session is not null)
{
    <div class="row">
        <div class="col-lg-9">
            <h1>@session.Name details</h1>
        </div>
        <div class="col-lg-3 text-right">
            <a class="btn btn-secondary btn-sm" href="sessions" role="button">Go back to Sessions</a>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Description</th>
                <td>@session.Description</td>
            </tr>
            <tr>
                <th scope="row">Date</th>
                <td>@session.Date</td>
            </tr>
            <tr>
                <th scope="row">Location</th>
                <td>@session.Location</td>
            </tr>
            <tr>
                <th scope="row">Speaker</th>
                <td>@session.Speaker</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>@session.SpeakerEmail</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    Session session = new Session();

    [Parameter]
    public Guid Id { get; set; }


    protected async override Task OnInitializedAsync()
    {
        session = await SessionManagerService.GetSessionById(Id);
    }
}
