@page
@model SessionManager.UI.Pages.Sessions.IndexModel
@{
}

<h1>Session Manager</h1>
<h4>(@Model.SessionSpeaker)'s sessions</h4>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Session Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Location</th>
                <th>Speaker</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SessionsList != null)
            {
                foreach (var session in Model.SessionsList)
                {
                    <tr>
                        <td><a asp-page="./Edit" asp-route-id="@session.Id">@session.Name</a></td>
                        <td>@session.Start.ToString("dd-MM-yyyy HH-mm")</td>
                        <td>@session.End.ToString("dd-MM-yyyy HH-mm")</td>
                        <td>@session.Location</td>
                        <td>@session.Speaker</td>
                        <td>@session.SpeakerEmail</td>
                        <td>
                            <button type="submit" asp-page-handler="edit" asp-route-id="@session.Id">Edit</button>
                            <button type="submit" asp-page-handler="delete" asp-route-id="@session.Id">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a asp-page="Create">Create New Session</a>
</form>